

.page-title {
    position: absolute;
    width: 1920px;
    height: 303px;
    left: 0px;
    top: 32px;

    font-family: Racing Sans One;
    font-style: normal;
    font-weight: normal;
    font-size: 174px;
    line-height: 50.5%;
    /* or 88px */

    text-align: center;

    color: #FFFFFF;
}

.work {
    position: absolute;
    width: 505.82px;
    height: 202.93px;
    left: 732.22px;
    top: 855.87px;

    font-family: Racing Sans One;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 50.5%;
    /* or 56px */


    color: #240747;

    transform: rotate(-15.06deg);
}

.blog {
    position: absolute;
    width: 505.82px;
    height: 203.73px;
    left: 146.98px;
    top: 438px;

    font-family: Racing Sans One;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 50.5%;
    /* or 56px */


    color: #240747;

    transform: rotate(14.49deg);
}

.shop {
    position: absolute;
    width: 325.03px;
    height: 273.34px;
    left: 1379px;
    top: 998.84px;

    font-family: Racing Sans One;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 50.5%;
    /* or 56px */


    color: #240747;

    transform: rotate(-31.71deg);
}

.about {
    position: absolute;
    width: 217.85px;
    height: 91.23px;
    left: 1673.33px;
    top: 607px;

    font-family: Racing Sans One;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 50.5%;
    /* or 36px */


    color: #FFFFFF;

    transform: rotate(35deg);
}
.shape0 {
    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: #240747;
}

.shape1 {
    border-radius: 50%;
    position: absolute;
    width: 115px;
    height: 113px;
    left: 53px;
    top: 267px;
    
    background: #EB2632;;
}



.shape2 {
    border-radius: 50%;
    position: absolute;
    width: 149px;
    height: 149px;
    left: 773px;
    top: 400px;

    background: #F0AB8D;
}

.shape3 {
    border-radius: 50%;
    position: absolute;
    width: 405px;
    height: 405px;
    left: 520px;
    top: 431px;
    
    background: #a75151;;
}

.shape4 {
    border-radius: 50%;
    position: absolute;
    width: 282px;
    height: 282px;
    left: 1582px;
    top: 600px;

    background: #EB2632;
}

.shape5 {
    position: absolute;
    width: 296.88px;
    height: 136.72px;
    left: 100.68px;
    top: 114.78px;
    
    background: #F6E4AD;
    transform: rotate(14.49deg);
}

.shape6 {
    position: absolute;
    width: 461.33px;
    height: 244.95px;
    left: 1413.38px;
    top: 540px;

    background: #F0AB8D;
    transform: rotate(58.29deg);

}

.shape7 {
    border-radius: 0px;
    position: absolute;
    width: 267.32px;
    height: 129.8px;
    left: 71.1px;
    top: 392.32px;
    
    background: #F6E4AD;
    border-radius: 139px;
    transform: rotate(-8.03deg);

}

.shape8 {
    border-radius: 139px;
    position: absolute;
    width: 560px;
    height: 278px;
    left: 977px;
    top: 306.25px;

    background: #EB2632;
    border-radius: 139px;
    transform: rotate(-8.03deg);
}

.shape9 {
    position: absolute;
    width: 325px;
    height: 231px;
    left: 215px;
    top: 269px;

    background: #C4C4C4;
}

.shape10 {
    border-radius: 50%;
    position: absolute;
    width: 289px;
    height: 289px;
    left: 508px;
    top: 452px;

    background: #C4C4C4;
}